{{> header }}
	
	<div id="main_body">
		<div class="main_content">
			<h1>{{title}}</h1>
			<div id="profileContent">
				<p id="roll_no"> Roll No : {{roll_no}}</p>
				<p id="name"> Name : {{name}}</p>
				<p id="dob"> DOB : {{dob}}</p>
				<p id="gender"> gender : {{gender}}</p>
				<p id="dept"> Department : {{dept}}</p>
				<p id="year"> Year : {{year}}</p>
				<p id="email"> Email : {{email}}</p>
				<p id="phone"> phone : {{phone}}</p>

			</div>
		</div>
	</div>
	<!--  <script type="text/javascript" src="js/profile.js"></script> -->

{{> footer-end }}